html, body {
    background-color: #999999;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    /*font-weight: 300;*/
    height: 100vh;
    margin: 0;
}

label {
    font-weight: bold;
}

.tasks {
    background-color: #ffffff;
}

.error {
    color: indianred;
}

.completed > td:not(:nth-child(6)) {
    color: #636b6f;
    text-decoration: line-through;
    font-style: italic;
}
